@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
body {
  background-color: lightgray;
  background: url('https://i.imgur.com/iYpRFGX.png')no-repeat;
 
  background-size: cover;
  // overflow-x:hidden;
}
// // .pageLayoutDiv {
// //   display: flex;
// //   flex-wrap: wrap;

//   // .headerDiv{
//   //   justify-content: center;

//   //   // grid-row: 1;
//   //   // grid-column: 1/3;
//   //   // height: 20vh;

//   //   // margin-left: 20%;
//   //   // margin-top: 50%;
//   // }
//   // .headerImage {
//   //   filter: drop-shadow(0px 5px 5px rgba(0,0,0,1));
//   //   // max-width: 60%;
    
//   // }
//   // .shoppingListDiv{
//   //   background: url('https://i.imgur.com/kSmfr6u.png') no-repeat;
//   //   background-size: 105%;
//   //   // grid-row: 2;
//   //   // grid-column: 2;
//   //   height: 73vh;
//   //   width: 23vw;
//   //   align-items: center;
//   //   justify-content: center;
//   //   margin-top: 5%;
//   //   filter: drop-shadow(0px 5px 5px rgba(0,0,0,1));
//   // }
//   // .shoppingListInnerDiv {
//   //   align-items: center;
//   //   justify-content: center;
//   //   margin-top: 22%;
//   //   margin-left: 27%;
//   //   font-size: 22px;
//   //   hr {
//   //     width: 150px;
//   //     margin-left: 0%;
//   //     height: 5px;
//   //   }
//   // }
//   // .productsListDiv{
//   //   // background-color: green;
//   //   grid-row: 1;
//   //   grid-column: 2;
//   //   height: 73vh;
//   //   width: 72vw;
//   //   align-items: center;
//   //   justify-content: center;
    
//   // }
// // }
// // .strike {
// //   text-decoration: line-through;
// // }
// // .shoppingList{
// //   justify-content: center;
// //   margin-top: 5%;
// //   margin-right: 5%;
// // }
// // .shoppingListTitle {
// //   font-size: 26px;
// // }
// // .foodPics {
// //   max-width: 100px;
// //   max-height: 100px;
// // }
// // .productsBoughtList{
// //   display: flex;
// //   flex-wrap: wrap;
// //   margin: 25px; 
// // }
// // .product {
// //   flex-wrap: wrap;
// //   text-align: center;
// //   font-size: 20px;
// //   background-color: white;
// //   border: 5px solid black;
// //   margin: 10px;
// //   padding: 10px;
// //   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
// //   border-radius: 10px;
// // }
// // .productsListss{
// //   display: flex;
// //   margin: 20px; 
// //   font-size: 22px;
// // }
// // .productList {
// //   flex-wrap: wrap;
// //   text-align: center;
// //   font-size: 22px;
// //   background-color: white;
// //   border: 5px solid black;
// //   margin: 10px;
// //   padding: 10px;
// //   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
// // }
// // .productsHeader {
// //   margin-left: 2.7%;
// //   transform: translateY(60px);
// //   background-color: white;
// //   width: 350px;
// //   font-size: 24px;
// //   text-align: center;
// //   border: 5px solid black;
// //   border-top-left-radius: 10px;
// //   border-top-right-radius: 10px;
// //   }
// // .productSelection{
// //   margin-left: 2.7%;
// //   transform: translateY(60px);
// //   background-color: white;
// //   width: 350px;
// //   font-size: 24px;
// //   text-align: center;
// //   border-right: 5px solid black;
// //   border-left: 5px solid black;
// //   border-bottom: 5px solid black;
// //   border-bottom-left-radius: 10px;
// //   border-bottom-right-radius: 10px;
// //   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
// // }
// // input {
// //   width: 88px;
// // }
// // .totalCost{
// //   font-size: 22px;
// // }
// // .buyButton {
// //   border: 1px solid darkgreen;
// //   background-color: green;
// //   border-radius: 4px;
// //   box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
// //     1px 2px 1px black;
// //   -o-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
// //     1px 2px 1px black;
// //   -webkit-box-shadow: inset 1px 6px 12px lightgreen,
// //     inset -1px -10px 5px darkgreen, 1px 2px 1px black;
// //   -moz-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
// //     1px 2px 1px black;
// //   color: white;
// //   text-shadow: 1px 1px 1px black;
// //   padding: 2px 20px;
// //   font-size: 16px;
// // }
// // .buyButton:hover {
// //   border: 1px solid rgb(24, 146, 24);
// //   background-color: rgb(79, 211, 79);
// // }
// // .gocartButton{
// //   border: 1px solid darkgreen;
// //   background-color: green;
// //   border-radius: 4px;
// //   box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
// //     1px 2px 1px black;
// //   -o-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
// //     1px 2px 1px black;
// //   -webkit-box-shadow: inset 1px 6px 12px lightgreen,
// //     inset -1px -10px 5px darkgreen, 1px 2px 1px black;
// //   -moz-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
// //     1px 2px 1px black;
// //   color: white;
// //   text-shadow: 1px 1px 1px black;
// //   padding: 2px 20px;
// //   font-size: 16px;
// // }
// // .gocartButton:hover {
// //   border: 1px solid rgb(24, 146, 24);
// //   background-color: rgb(79, 211, 79);
// // }
// // .cartButton {
// //   border: 1px solid rgb(15, 0, 100);
// //   background-color: rgb(0, 98, 128);
// //   border-radius: 4px;
// //   box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
// //     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
// //   -o-box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
// //     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
// //   -webkit-box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
// //     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
// //   -moz-box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
// //     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
// //   color: white;
// //   text-shadow: 1px 1px 1px black;
// //   padding: 2px 20px;
// //   font-size: 16px;
// // }
// // .cartButton:hover {
// //   border: 1px solid rgb(43, 55, 172);
// //   background-color: rgb(55, 196, 206);
// // }
// // .storeButton {
// //   border: 1px solid rgb(119, 102, 3);
// //   background-color: rgb(161, 159, 0);
// //   border-radius: 4px;
// //   box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
// //     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
// //   -o-box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
// //     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
// //   -webkit-box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
// //     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
// //   -moz-box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
// //     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
// //   color: white;
// //   text-shadow: 1px 1px 1px black;
// //   padding: 2px 20px;
// //   font-size: 16px;
// // }
// // .storeButton:hover {
// //   border: 1px solid rgb(223, 190, 4);
// //   background-color: rgb(211, 207, 0);
// // }

// // .clearCartButton {
// //   border: 1px solid rgb(71, 1, 1);
// //   background-color: rgb(245, 0, 0);
// //   border-radius: 4px;
// //   box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
// //   -o-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
// //   -webkit-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon,
// //     0 2px 1px black;
// //   -moz-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon,
// //     0 2px 1px black;
// //   color: white;
// //   text-shadow: 0 1px 1px black;
// //   padding: 2px 15px;
// //   font-size: 16px;
// // }
// // .clearCartButton:hover {
// //   border: 1px solid rgb(206, 0, 0);
// //   background-color: rgb(255, 123, 123);
// // }
// // select {
// //   font-size: 20px;
// // }
// // .totalCost {
// //   background-color: white;
// //   padding: 20px;
// //   border: 5px solid limegreen;
// //   font-weight:bold;
// //   width: 352px;
// //   text-align: center;
// //   margin-left: 2.55%;
// //   margin-top: 60px;
// //   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
// //   border-bottom-left-radius: 10px;
// //   border-bottom-right-radius: 10px;
// //   font-size: 24px;
// // }
// // .postFormDiv {
// //   font-size: 20px;
// //   margin-left: 130px;
// //   margin-top: 100px;
// //   input {
// //     width: 200px;
// //   }
// // }
// .pageLayoutDiv {
//   display: grid;
//   grid-template-columns: ;
//   grid-template-rows: 22vh 10 68vh; 
//   justify-content: center;
// }
// .headerDiv {
//   // grid-column: 1;
//   grid-row: 1;
//   place-self: start;
// }
// .headerImage {
// max-width: 100%;
// }
//   .shoppingListDiv{
//     background: url('https://i.imgur.com/kSmfr6u.png') no-repeat;
//     background-size: 105%;
//     // grid-row: 2;
//     // grid-column: 2;
//     // height: 73vh;
//     // width: 23vw;
//     // align-items: center;
//     // justify-content: center;
//     // margin-top: 5%;
//     filter: drop-shadow(0px 5px 5px rgba(0,0,0,1));
//     max-width: 40%;
//     max-height: 70%;
//     grid-row: 3;
//     place-self: start;
//   }
//     .productsListDiv{
//     // background-color: green;
//     grid-row: 2;
//     display:flex;
//     flex-direction: row;

//     // height: 73vh;
//     // width: 72vw;
//     // align-items: center;
//     // justify-content: center;
    
//   }
//   .productsListingsDiv {
//     // display:flex;
//     // flex-direction: row;
//     // flex-wrap: nowrap;
//     width: 70vw;
//   }
// @import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
// @import "reset";

// @media all and (min-width: 1200px){
// body {
//   background: url('https://i.imgur.com/iYpRFGX.png')no-repeat;
//   background-size: cover;
//   overflow-x:hidden;
// }
// .pageLayoutDic {

// }
// .pageLayoutDiv {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   // grid-template-columns: 25% 75%;
//   // grid-template-rows: 25% 75%;
//   .headerDiv{
//     justify-content: center;
    
//     // grid-row: 1;
//     // grid-column: 1/3;
//     height: auto;
//     width: 100vw;
//     margin-left: 30%;
//     // margin-top: 50%;
//   }
  
//   .phone {
//     transform: translateY(7%);
//     transform: translateX(-3%);
//     margin-top: 12%;
//     margin-left: -5%;
//     width: 100%;
//     height: auto;
//     z-index: -2000;
//     flex-basis: 1;
//   }
//   .headerImage {
//     filter: drop-shadow(0px 5px 5px rgba(0,0,0,1));
//     width: 60%;
    
//   }
//   .shoppingListDiv{
//     // background: url('https://i.imgur.com/kSmfr6u.png') no-repeat;
//     background-size: 105%;
//     grid-row: 2;
//     grid-column: 2;
//     height: 73vh;
//     width: 23vw;
//     align-items: center;
//     justify-content: center;
//     margin-top: 5%;
//     filter: drop-shadow(0px 5px 5px rgba(0,0,0,1));
//     position: relative;
//   }
//   .shoppingListInnerDiv {
//     align-items: center;
//     justify-content: center;
//     margin-top: -112%;
//     margin-left: 27%;
//     font-size: 22px;
//     z-index: 2000;
//     position: relative;
//     hr {
//       width: 150px;
//       margin-left: 0%;
//       height: 5px;
//     }
//   }
//   .productsListDiv{
//     // background-color: green;
//     grid-row: 1;
//     grid-column: 2;
//     height: 73vh;
//     width: 72vw;
//     align-items: center;
//     justify-content: center;
    
//   }
// }
// .strike {
//   text-decoration: line-through;
// }
// .shoppingList{
//   justify-content: center;
//   margin-top: 5%;
//   margin-right: 5%;
// }
// .shoppingListTitle {
//   font-size: 26px;
// }
// .foodPics {
//   max-width: 100px;
//   max-height: 100px;
// }
// .productsBoughtList{
//   display: flex;
//   flex-wrap: wrap;
//   margin: 25px; 
// }
// .product {
//   flex-wrap: wrap;
//   text-align: center;
//   font-size: 20px;
//   background-color: white;
//   border: 5px solid black;
//   margin: 10px;
//   padding: 10px;
//   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
//   border-radius: 10px;
// }
// .productsListss{
//   display: flex;
//   margin: 20px; 
//   font-size: 22px;
// }
// .productList {
//   flex-wrap: wrap;
//   text-align: center;
//   font-size: 22px;
//   background-color: white;
//   border: 5px solid black;
//   margin: 10px;
//   padding: 10px;
//   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
// }
// .productsHeader {
//   margin-left: 2.7%;
//   transform: translateY(60px);
//   background-color: white;
//   width: 350px;
//   font-size: 24px;
//   text-align: center;
//   border: 5px solid black;
//   border-top-left-radius: 10px;
//   border-top-right-radius: 10px;
//   }
// .productSelection{
//   margin-left: 2.7%;
//   transform: translateY(60px);
//   background-color: white;
//   width: 350px;
//   font-size: 24px;
//   text-align: center;
//   border-right: 5px solid black;
//   border-left: 5px solid black;
//   border-bottom: 5px solid black;
//   border-bottom-left-radius: 10px;
//   border-bottom-right-radius: 10px;
//   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
// }
// input {
//   width: 88px;
// }
// .totalCost{
//   font-size: 22px;
// }
// .buyButton {
//   border: 1px solid darkgreen;
//   background-color: green;
//   border-radius: 4px;
//   box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   -o-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   -webkit-box-shadow: inset 1px 6px 12px lightgreen,
//     inset -1px -10px 5px darkgreen, 1px 2px 1px black;
//   -moz-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   color: white;
//   text-shadow: 1px 1px 1px black;
//   padding: 2px 20px;
//   font-size: 16px;
// }
// .buyButton:hover {
//   border: 1px solid rgb(24, 146, 24);
//   background-color: rgb(79, 211, 79);
// }
// .gocartButton{
//   border: 1px solid darkgreen;
//   background-color: green;
//   border-radius: 4px;
//   box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   -o-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   -webkit-box-shadow: inset 1px 6px 12px lightgreen,
//     inset -1px -10px 5px darkgreen, 1px 2px 1px black;
//   -moz-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   color: white;
//   text-shadow: 1px 1px 1px black;
//   padding: 2px 20px;
//   font-size: 16px;
// }
// .gocartButton:hover {
//   border: 1px solid rgb(24, 146, 24);
//   background-color: rgb(79, 211, 79);
// }
// .cartButton {
//   border: 1px solid rgb(15, 0, 100);
//   background-color: rgb(0, 98, 128);
//   border-radius: 4px;
//   box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
//     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
//   -o-box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
//     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
//   -webkit-box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
//     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
//   -moz-box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
//     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
//   color: white;
//   text-shadow: 1px 1px 1px black;
//   padding: 2px 20px;
//   font-size: 16px;
// }
// .cartButton:hover {
//   border: 1px solid rgb(43, 55, 172);
//   background-color: rgb(55, 196, 206);
// }
// .storeButton {
//   border: 1px solid rgb(119, 102, 3);
//   background-color: rgb(161, 159, 0);
//   border-radius: 4px;
//   box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
//     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
//   -o-box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
//     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
//   -webkit-box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
//     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
//   -moz-box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
//     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
//   color: white;
//   text-shadow: 1px 1px 1px black;
//   padding: 2px 20px;
//   font-size: 16px;
// }
// .storeButton:hover {
//   border: 1px solid rgb(223, 190, 4);
//   background-color: rgb(211, 207, 0);
// }

// .clearCartButton {
//   border: 1px solid rgb(71, 1, 1);
//   background-color: rgb(245, 0, 0);
//   border-radius: 4px;
//   box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
//   -o-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
//   -webkit-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon,
//     0 2px 1px black;
//   -moz-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon,
//     0 2px 1px black;
//   color: white;
//   text-shadow: 0 1px 1px black;
//   padding: 2px 15px;
//   font-size: 16px;
// }
// .clearCartButton:hover {
//   border: 1px solid rgb(206, 0, 0);
//   background-color: rgb(255, 123, 123);
// }
// select {
//   font-size: 20px;
// }
// .totalCost {
//   background-color: white;
//   padding: 20px;
//   border: 5px solid limegreen;
//   font-weight:bold;
//   width: 352px;
//   text-align: center;
//   margin-left: 2.55%;
//   margin-top: 60px;
//   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
//   border-bottom-left-radius: 10px;
//   border-bottom-right-radius: 10px;
//   font-size: 24px;
// }
// .postFormDiv {
//   font-size: 20px;
//   margin-left: 130px;
//   margin-top: 100px;
//   input {
//     width: 200px;
//   }
// }
// @media all and (max-width: 500px){
// // all: reset;
//   body {
//     background-repeat: no-repeat center center;
//     height: 100%;
//   }
//   .productSelection {
//     border-right: 2px solid black;
//     border-left: 2px solid black;
//     border-bottom: 2px solid black;
//   }
//   #sld {
//     margin-top: 20%;
//     background-size: 190%;
//     // width: 38%;
//     // margin-left: -10%;
//     transform: translateX(-30%);
//     width: 20%;
//     overflow: auto;
    
//   }
  
//   .pageLayoutDiv {
//     max-height: 100vh;
//     max-width: 100vw;
//     overflow-y: hidden;
//   }
//   .headerDiv{
//     justify-content: center;
    
//     // grid-row: 1;
//     // grid-column: 1/3;
//     // height: auto;
//     width: 600px;
//     margin-left: 60%;
//     // margin-top: 50%;
//   }
//   .pageLayoutDiv .headerImage {
//     filter: drop-shadow(0px 5px 5px #000);
//     width: 130%;
//     max-width: 120%;
// }
//   #phd {
//     // width: 124%;
//     transform: translateX(-25%)
//   }
//   .pageLayoutDiv .shoppingListInnerDiv {
//     -ms-flex-align: center;
//     align-items: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     margin-top: 22%;
//     margin-left: 10%;
//     font-size: 18px;
// }
//   .foodPics {
//     width: 60%;
//   }
//   .buyButton {
//     width: 100%;
//     font-size: 8px;
//   }
//   .product {
    
//     max-width: 37%;
//     font-size: 12px;
//     border: 2px solid black;
//   }
//   .productsListss {
//     flex-wrap: wrap;
//     transform: translateY(-150px);
//     transform: translateX(30px);
//     // margin-top: -220%;
//   }

// .shoppingListDiv {
//   background-color: #000 no-repeat;
//   width: 60%;
//   background-size: 50%;
//   // transform: translateY(-300%);

// }
// .headerImage {
//   margin-left: -30%;
// }
// .productsHeader {
  
//   border: 2px solid black;
//   width: 95vw;
//   max-width: 95vw;
//   margin-left: -2%;
//   font-size: 10px;
// }
// .productsListDiv {
//   transform: translateY(0%);
// }
// .productSelection {
//   width: 95vw;
//   max-width: 95vw;
//   margin-left: -35.0%;
//   font-size: 12px;
//   // margin-top: -23%;
//   transform: translateY(-20%);
// }
// .gocartButton, .storeButton, .cartButton, .clearCartButton{
//   font-size: 8px;
//   padding: 8px;
//   margin: 4px;
//   width: 20vw;
// }
// select {
//   font-size: 12px;
// }
//     hr {
//       width: 80px;
//       margin-left: 0%;
//       height: 5px;
//     }
//     .phone {
//       transform: translateY(7%);
//       transform: translateX(-3%);
//       margin-top: 412%;
//       margin-left: -5%;
//       width: 160%;
//       height: auto;
//       z-index: -4;
      
//     }    
// }














@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

// @media all and (min-width: 800px){
// body {
//   background: url('https://i.imgur.com/iYpRFGX.png')no-repeat;
//   background-size: cover;
//   overflow-x:hidden;
//   // overflow-y:hidden;
//   font-size: 1em;
// }
// }
// }
// .pageLayoutDiv {
// display: flex;
// flex-direction: column;
// max-width: 100vw;
// justify-content: space-between;
// // grid-template-columns: 100%;
// // grid-template-rows: 22% 50% 30%;
// // grid-gap: 12px;
// }
// .headerDiv {
// //  background-color: black;
// // grid-row: 1;

// margin-left: 37%;

// //  position: relative;

// }
// #mainLogo {
//   max-width: 40%;
//   filter: drop-shadow(0px 5px 5px rgba(0,0,0,1));
// }
// .logoDiv {
//   align-content: center;
  
//   // position: absolute;
//   // top: -10%;
//   // left: 35%;
// }
// .productsListDiv {
  
//   // grid-row: 2;
//   place-self: center;
// }
// .productSelection{
//   // margin-left: 2.7%;
//   // transform: translateY(60px);
//   // background-color: aliceblue;
//   // width: 350px;
//   margin-top: 5px;
//   font-size: 20px;
//   text-align: center;
//   // border-right: 3px solid black;
//   // border-left: 3px solid black;
//   // border-bottom: 3px solid black;
//   // border-bottom-left-radius: 10px;
//   // border-bottom-right-radius: 10px;
//   // box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
// }
// .productsHeader {
//   grid-row: 2;
//   margin-top: 10px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   transform: translateX(-1.2%);

//   // border: 3px solid black;
//   // width: 22vw;
//   // width: 95vw;
//   // max-width: 95vw;
//   // margin-left: -2%;
//   // font-size: 10px;
//   // background-color: aliceblue;
//   // justify-content: center;
  

// }
// button {
//   justify-content: center;
//   align-items: center;
//   margin-left: 10px;
// }
// select {
//   font-size: 16px;
// }
// .buyButton {
//   border: 1px solid darkgreen;
//   background-color: green;
//   border-radius: 4px;
//   box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   -o-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   -webkit-box-shadow: inset 1px 6px 12px lightgreen,
//     inset -1px -10px 5px darkgreen, 1px 2px 1px black;
//   -moz-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   color: white;
//   text-shadow: 1px 1px 1px black;
//   // padding: 2px 20px;
//   font-size: 1.0em;
// }

// .cartButton {
//   border: 1px solid rgb(15, 0, 100);
//   background-color: rgb(0, 98, 128);
//   border-radius: 4px;
//   box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
//     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
//   -o-box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
//     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
//   -webkit-box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
//     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
//   -moz-box-shadow: inset 1px 6px 12px rgb(144, 219, 238),
//     inset -1px -10px 5px rgb(0, 15, 100), 1px 2px 1px black;
//   color: white;
//   text-shadow: 1px 1px 1px black;
//   // padding: 2px 5px;
//   font-size: .8em;
// }
// .cartButton:hover {
//   border: 1px solid rgb(43, 55, 172);
//   background-color: rgb(55, 196, 206);
// }
// .storeButton {
//   border: 1px solid rgb(119, 102, 3);
//   background-color: rgb(161, 159, 0);
//   border-radius: 4px;
//   box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
//     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
//   -o-box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
//     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
//   -webkit-box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
//     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
//   -moz-box-shadow: inset 1px 6px 12px rgb(238, 236, 144),
//     inset -1px -10px 5px rgb(100, 98, 0), 1px 2px 1px black;
//   color: white;
//   text-shadow: 1px 1px 1px black;
//   // padding: 2px 5px;
//   font-size: .8em;
// }
// .storeButton:hover {
//   border: 1px solid rgb(223, 190, 4);
//   background-color: rgb(211, 207, 0);
// }

// .clearCartButton {
//   border: 1px solid rgb(71, 1, 1);
//   background-color: rgb(245, 0, 0);
//   border-radius: 4px;
//   box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
//   -o-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
//   -webkit-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon,
//     0 2px 1px black;
//   -moz-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon,
//     0 2px 1px black;
//   color: white;
//   text-shadow: 0 1px 1px black;
//   // padding: 2px 5px;
//   font-size: .8em;
// }
// .clearCartButton:hover {
//   border: 1px solid rgb(206, 0, 0);
//   background-color: rgb(255, 123, 123);
// }
// .gocartButton{
//   border: 1px solid darkgreen;
//   background-color: green;
//   border-radius: 4px;
//   box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   -o-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   -webkit-box-shadow: inset 1px 6px 12px lightgreen,
//     inset -1px -10px 5px darkgreen, 1px 2px 1px black;
//   -moz-box-shadow: inset 1px 6px 12px lightgreen, inset -1px -10px 5px darkgreen,
//     1px 2px 1px black;
//   color: white;
//   text-shadow: 1px 1px 1px black;
//   padding: 2px 5px;
//   font-size: .8em;
// }
// .gocartButton:hover {
//   border: 1px solid rgb(24, 146, 24);
//   background-color: rgb(79, 211, 79);
// }
// button {
//   width: 6.5vw;
//   max-width: 6.5vw;
// }
// .productsCompleteList {
//   justify-content: center;
//   align-items: center;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }
// .product {
//   flex-wrap: wrap;
//   text-align: center;
//   font-size: 20px;
//   background-color: white;
//   border: 5px solid black;
//   margin: 10px;
//   padding: 10px;
//   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
//   border-radius: 10px;
// }
// .foodPics {
//   max-width: 100px;
//   max-height: 100px;
// }
// .shoppingListDiv {
//   // display: flex;
//   // flex-direction: row;
//   // justify-content: center;
//   // justify-content: baseline;
//   // align-items: center;
//   position:absolute;
//   width:90vw;
//   height:300px;
//   bottom:80px;
//   left: 40%;
  

// }


// .shoppingListInnerDiv {
//   position:absolute;
//   place-self: center;
//   width:300px;
//   height:100%;
//   bottom:0px;
//   align-items: center;
//   font-size: 22px;
//   // right:25%;
//   // left:50%;
//   // top:30%;
//   // margin-left:-50px;
//   transform: translateX(45%);
// }
// .shoppingListTitle {
//   font-size: 28px;
// }
// input {
//   width: 167px;
//   transform: translateX(6%);
// }
// .submitForm {
//   transform: translateY(90%);
// }

// }
// .buttonDiv {
//   margin-left: 15%;
// }
#mainLogo {
  max-width: 99%;
  max-height: 99%;
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,1));
}
#phone {
  max-width: 99%;
  max-height: 99%;
}
.product, .productList {
  width: 155px;
  max-width: 155px;
  height: 195px;
  max-height: 195px;
  text-align: center;
  // font-size: 12px;
  background-color: white;
  border: 2px solid black;
  margin: 10px;
  padding: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 10px;
  transition: all .2s ease-in-out; 
}
.product:hover {
  transform: scale(1.1); 
}
.foodPics {
  max-width: 80px;
  max-height: 80px;
}
// .productList {
//   flex-wrap: wrap;
//   text-align: center;
//   font-size: 22px;
//   background-color: white;
//   border: 5px solid black;
//   margin: 10px;
//   padding: 10px;
//   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
// }
.MuiGrid-spacing-xs-1 > .MuiGrid-item {
  padding: 4px;
  margin: 6px;
}
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 16px;
  margin: 6px;
}
.strike {
  text-decoration: line-through;
}
.groceryList {
  transition: all .2s ease-in-out;
  font-size: 1em;
  width:140%;
  max-width: 1100px;
  margin-left: -50px;
  padding:0;
}
hr {
  width: 60%;
}
.groceryList:hover {
  transform: scale(1.1); 
}
.addButton, .minusButton, .submitButton {
  transition: all .2s ease-in-out;
}
.addButton:hover, .minusButton:hover, .submitButton:hover {
transform: scale(1.12); 
}
.groceryList2 {
  font-size: .8em;
  max-width: 1100px;
  margin-left: -50px;
}
